@charset "UTF-8";
/* ==========================================================================
   トップページ用スタイル
   ========================================================================== */
@media screen and (max-width: 767px) {
  #wrapper {
    overflow-x: hidden; }
  #contents {
    padding-bottom: 6.67vw; } }

@media screen and (min-width: 768px), print {
  #contents {
    padding-bottom: 0;
    padding-top: 0; } }

/* メイン
   ========================================================================== */
.main-hero {
  position: relative; }
  @media screen and (min-width: 768px), print {
    .main-hero {
      margin: 0 auto;
      width: 1225px;
      margin-bottom: 70px; } }
  @media screen and (max-width: 767px) {
    .main-hero {
      width: 100%;
      margin-bottom: 6.13vw; } }
.main-hero-bg {
  display: block; }
  @media screen and (max-width: 767px) {
    .main-hero-bg {
      margin: 0 auto;
      width: 93.33vw; } }
.main-hero-movie {
  border-color: white;
  border-style: solid;
  z-index: 1; }
  @media screen and (min-width: 768px), print {
    .main-hero-movie {
      border-width: 4px;
      border-radius: 7px;
      position: absolute;
      width: 555px;
      height: 344px;
      left: 32px;
      bottom: -32px; }
      .main-hero-movie.-right {
        right: 32px;
        left: auto; } }
  @media screen and (max-width: 767px) {
    .main-hero-movie {
      position: relative; } }
.main-hero-movie-item {
  width: 100%;
  background: #000;
  height: 100%;
  left: 0;
  top: 0; }
  @media screen and (min-width: 768px), print {
    .main-hero-movie-item {
      border-radius: 7px 7px 0 0;
      position: absolute; } }
  @media screen and (max-width: 767px) {
    .main-hero-movie-item {
      position: relative;
      height: 56.53vw; } }
  .main-hero-movie-item .item {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden; }
    @media screen and (min-width: 768px), print {
      .main-hero-movie-item .item {
        border-radius: 7px 7px 0 0;
        height: calc(100% - 28px); } }
    .main-hero-movie-item .item:not(.active) {
      opacity: 0;
      pointer-events: none; }

.main-hero-movie-btn {
  width: 100%;
  display: flex;
  z-index: 1; }
  @media screen and (min-width: 768px), print {
    .main-hero-movie-btn {
      left: 0;
      bottom: 0;
      height: 32px;
      position: absolute; } }
  @media screen and (max-width: 767px) {
    .main-hero-movie-btn {
      height: 13.87vw;
      padding: 0;
      border: 1px solid #d4d4d4;
      border-radius: 1.87vw 1.87vw 0 0;
      position: relative;
      width: 81.6vw;
      margin: -2.67vw auto 0; } }
  .main-hero-movie-btn li {
    text-align: center;
    height: 100%;
    width: 100%;
    font-weight: bold;
    color: #b7b7b7;
    letter-spacing: 0.075em;
    cursor: pointer; }
    @media screen and (min-width: 768px), print {
      .main-hero-movie-btn li {
        border-top: 2px solid #d4d4d4;
        padding-top: 6px;
        font-size: 12px;
        font-size: 1.2rem;
        background: #f6f0ef; } }
    @media screen and (max-width: 767px) {
      .main-hero-movie-btn li {
        font-size: 13px;
        font-size: 1.3rem;
        padding-top: 4.27vw;
        background: #f6f6f6;
        position: relative; }
        .main-hero-movie-btn li::before {
          position: absolute;
          width: 200vw;
          height: 1.07vw;
          content: "";
          display: block;
          bottom: -1.07vw;
          background: #ccc; }
        .main-hero-movie-btn li:nth-child(1) {
          border-radius: 1.87vw 0 0 0; }
          .main-hero-movie-btn li:nth-child(1)::before {
            right: -100px; }
        .main-hero-movie-btn li:nth-child(2) {
          border-radius: 0 1.87vw 0 0; }
          .main-hero-movie-btn li:nth-child(2)::before {
            left: 0; } }
    .main-hero-movie-btn li.active {
      color: #e4007f; }
      @media screen and (min-width: 768px), print {
        .main-hero-movie-btn li.active {
          background: #fff8f7;
          border-color: #e4007f; } }
      @media screen and (max-width: 767px) {
        .main-hero-movie-btn li.active {
          background: #fff; }
          .main-hero-movie-btn li.active::before {
            background: #e4007f; } }
.main-hero-movie-item-frame {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0; }

@media screen and (min-width: 768px), print {
  .main-hero-movie-thumb {
    display: none; } }

@media screen and (max-width: 767px) {
  .main-hero-movie-thumb {
    position: absolute;
    left: 0;
    top: -9.07vw; } }

.main-hero-movie-thumb.none {
  display: none; }

@media screen and (min-width: 768px), print {
  .main-hero-movie-play {
    display: none; } }

@media screen and (max-width: 767px) {
  .main-hero-movie-play {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
    height: 100%;
    width: 100%;
    text-align: center;
    padding-top: 20vw; }
    .main-hero-movie-play.none {
      display: none; } }

@media screen and (max-width: 767px) {
  .main-hero-movie-archive {
    text-align: right;
    margin: 10px 10px 0 0; } }

.main-hero-movie-archive a {
  background-color: #FFF8F7;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2212%22%20height%3D%2212%22%20viewBox%3D%220%200%2012%2012%22%3E%20%3Cg%20id%3D%22film%22%20transform%3D%22translate(-1.5%20-1.5)%22%3E%20%3Crect%20id%3D%22%E9%95%B7%E6%96%B9%E5%BD%A2_653%22%20data-name%3D%22%E9%95%B7%E6%96%B9%E5%BD%A2%20653%22%20width%3D%2211%22%20height%3D%2211%22%20rx%3D%222.18%22%20transform%3D%22translate(2%202)%22%20fill%3D%22none%22%20stroke%3D%22%23e4007f%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%20stroke-width%3D%221%22%2F%3E%20%3Cline%20id%3D%22%E7%B7%9A_595%22%20data-name%3D%22%E7%B7%9A%20595%22%20y2%3D%2211%22%20transform%3D%22translate(4.538%202)%22%20fill%3D%22none%22%20stroke%3D%22%23e4007f%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%20stroke-width%3D%221%22%2F%3E%20%3Cline%20id%3D%22%E7%B7%9A_596%22%20data-name%3D%22%E7%B7%9A%20596%22%20y2%3D%2211%22%20transform%3D%22translate(10.462%202)%22%20fill%3D%22none%22%20stroke%3D%22%23e4007f%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%20stroke-width%3D%221%22%2F%3E%20%3Cline%20id%3D%22%E7%B7%9A_597%22%20data-name%3D%22%E7%B7%9A%20597%22%20x2%3D%2211%22%20transform%3D%22translate(2%207.923)%22%20fill%3D%22none%22%20stroke%3D%22%23e4007f%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%20stroke-width%3D%221%22%2F%3E%20%3Cline%20id%3D%22%E7%B7%9A_598%22%20data-name%3D%22%E7%B7%9A%20598%22%20x2%3D%222.538%22%20transform%3D%22translate(2%204.538)%22%20fill%3D%22none%22%20stroke%3D%22%23e4007f%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%20stroke-width%3D%221%22%2F%3E%20%3Cline%20id%3D%22%E7%B7%9A_599%22%20data-name%3D%22%E7%B7%9A%20599%22%20x2%3D%222.538%22%20transform%3D%22translate(2%2010.462)%22%20fill%3D%22none%22%20stroke%3D%22%23e4007f%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%20stroke-width%3D%221%22%2F%3E%20%3Cline%20id%3D%22%E7%B7%9A_600%22%20data-name%3D%22%E7%B7%9A%20600%22%20x2%3D%222.538%22%20transform%3D%22translate(10.462%2010.462)%22%20fill%3D%22none%22%20stroke%3D%22%23e4007f%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%20stroke-width%3D%221%22%2F%3E%20%3Cline%20id%3D%22%E7%B7%9A_601%22%20data-name%3D%22%E7%B7%9A%20601%22%20x2%3D%222.538%22%20transform%3D%22translate(10.462%204.538)%22%20fill%3D%22none%22%20stroke%3D%22%23e4007f%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%20stroke-width%3D%221%22%2F%3E%20%3C%2Fg%3E%3C%2Fsvg%3E");
  background-size: 12px 12px;
  background-repeat: no-repeat;
  background-position: 14px center;
  border: 1px solid #e4007f;
  color: #e4007f;
  font-family: "Josefin Sans", sans-serif;
  font-size: 11px;
  font-size: 1.1rem;
  border-radius: 40px;
  padding: 7px 32px 4px;
  width: 142px;
  line-height: 1; }
  @media screen and (min-width: 768px), print {
    .main-hero-movie-archive a {
      position: absolute;
      bottom: -4px;
      right: -170px;
      display: block;
      transition: .3s; }
      .main-hero-movie-archive a:hover {
        background-color: #fff; }
      .-right .main-hero-movie-archive a {
        left: -170px;
        right: auto; } }
  @media screen and (max-width: 767px) {
    .main-hero-movie-archive a {
      position: relative;
      display: inline-block; } }
  .main-hero-movie-archive a::before {
    border-top: 1px solid #e4007f;
    border-right: 1px solid #e4007f;
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    transform: rotate(45deg); }
    @media screen and (min-width: 768px), print {
      .main-hero-movie-archive a::before {
        width: 4px;
        height: 4px;
        right: 15px; } }
    @media screen and (max-width: 767px) {
      .main-hero-movie-archive a::before {
        width: 1.07vw;
        height: 1.07vw;
        right: 4vw; } }
.main-movie {
  margin: 0 auto;
  padding-bottom: 110px;
  position: relative;
  width: 1292px; }

.main-movie-player {
  border-radius: 12px;
  overflow: hidden;
  width: 945px;
  height: 532px; }

#main-movie-wrap {
  width: 945px;
  height: 532px; }

.main-movie-bnr {
  position: absolute;
  right: -11px;
  bottom: 26px;
  z-index: 10; }

#main-movie-play {
  display: none; }

@media screen and (max-width: 767px) {
  .main-movie {
    padding-bottom: 12vw;
    width: 100%; }
  .main-movie-player {
    border-radius: 0;
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    width: 100%; }
  #main-movie-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
  .main-movie-bnr {
    right: 2.67vw;
    bottom: 0;
    width: 59.2vw; }
    .main-movie-bnr img {
      height: auto;
      width: 100%; }
  #main-movie-play {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
    height: 100%;
    width: 100%; }
    #main-movie-play.none {
      display: none; }
  .main-movie-play-thumb,
  .main-movie-play-btn {
    position: absolute; }
  .main-movie-play-thumb {
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    height: auto;
    width: 100%; }
    .main-movie-play-thumb img {
      height: 100%;
      width: 100%; }
  .main-movie-play-btn {
    left: 50%;
    top: calc(50% - 12vw);
    transform: translate(-50%); } }

/* スライドショー
   ========================================================================== */
.main-bnr-slide {
  margin-top: 25px;
  /* slick.cssを上書き */ }
  .main-bnr-slide a[target="_blank"]:after {
    display: none; }
  @media screen and (min-width: 768px), print {
    .main-bnr-slide .slick-slide {
      transition: 0.2s .2s linear; } }
  @media screen and (min-width: 768px), print {
    .main-bnr-slide .slick-slide:not(.slick-active):not(.is-active-next) {
      -webkit-filter: blur(3px);
      -moz-filter: blur(3px);
      -o-filter: blur(3px);
      -ms-filter: blur(3px);
      filter: blur(3px);
      transform: scale(0.72); } }
  @media screen and (min-width: 768px), print {
    .main-bnr-slide .slick-dotted.slick-slider {
      margin-bottom: 95px; } }
  @media screen and (max-width: 767px) {
    .main-bnr-slide .slick-dotted.slick-slider {
      margin-bottom: 16vw; } }
  .main-bnr-slide .slick-prev,
  .main-bnr-slide .slick-next {
    z-index: 5;
    background-color: #e5b94b !important;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center; }
    .main-bnr-slide .slick-prev:hover,
    .main-bnr-slide .slick-next:hover {
      opacity: 0.75; }
    .main-bnr-slide .slick-prev:before,
    .main-bnr-slide .slick-next:before {
      content: "";
      display: block;
      width: 12px;
      height: 12px;
      border-top: 1px solid #fff;
      border-right: 1px solid #fff;
      opacity: 1; }
  .main-bnr-slide .slick-next {
    right: calc((100% - 900px) / 2 - 64px);
    top: 50%; }
    .main-bnr-slide .slick-next:before {
      transform: rotate(45deg);
      margin-left: -6px; }
  .main-bnr-slide .slick-prev {
    left: calc((100% - 900px) / 2 - 64px);
    top: 50%; }
    .main-bnr-slide .slick-prev:before {
      transform: rotate(-135deg);
      margin-right: -6px; }
  .main-bnr-slide .slick-slide img {
    max-width: 1013px;
    width: 100%;
    height: auto; }
  .main-bnr-slide .slide-list {
    width: 100%; }

@media screen and (min-width: 768px), print {
  .slide-list-set {
    width: 900px; } }

@media screen and (min-width: 768px), print {
  .slide-list-set-inner {
    margin: 0 -60px; } }

.slick-dots {
  bottom: -40px; }
  .slick-dots li {
    margin: 0 15px; }

.slick-dots li button {
  padding: 0;
  height: 15px;
  width: 15px; }
  .slick-dots li button:before {
    background-color: #fff;
    border-radius: 50%;
    border: 1px solid #e5b94b;
    content: "";
    font-size: 10px;
    opacity: 1;
    height: 15px;
    width: 15px; }
  .slick-dots li button:hover:before {
    background-color: #e5b94b; }

.slick-dots li.slick-active button:before {
  background-color: #e5b94b;
  opacity: 1; }

@media screen and (max-width: 767px) {
  .main-bnr-slide {
    margin-top: 5.87vw; }
    .main-bnr-slide .slick-slide:not(.slick-center) {
      -webkit-filter: none;
      -moz-filter: none;
      -o-filter: none;
      -ms-filter: none;
      filter: none;
      filter: none;
      transition: none; }
  .slide-list-set-inner {
    padding-left: 2.93vw;
    padding-right: 2.93vw; }
  /* slick.cssを上書き */
  .slick-dotted.slick-slider {
    margin-bottom: 14.67vw; }
  .slide-list {
    width: 100%; }
  .slick-dots {
    bottom: -8vw; }
    .slick-dots li {
      margin: 0 2.93vw; }
  .slick-dots li button {
    padding: 0;
    height: 2.93vw;
    width: 2.93vw; }
    .slick-dots li button:before {
      font-size: 10px;
      height: 2.93vw;
      width: 2.93vw; } }

/* top-new-item
   ========================================================================== */
.top-new-item {
  position: relative;
  z-index: 1; }
  @media screen and (max-width: 767px) {
    .top-new-item {
      padding: 0 1.33vw; } }
.top-new-item-ttl {
  text-align: center;
  color: #E4007F;
  font-family: "Josefin Sans", sans-serif; }
  @media screen and (min-width: 768px), print {
    .top-new-item-ttl {
      font-size: 24px;
      font-size: 2.4rem; } }
  @media screen and (max-width: 767px) {
    .top-new-item-ttl {
      font-size: 20px;
      font-size: 2rem; } }
@media screen and (min-width: 768px), print {
  .top-new-item-list-wrap {
    width: 926px;
    margin: 18px auto 0; } }

@media screen and (max-width: 767px) {
  .top-new-item-list-wrap {
    margin-top: 4.8vw; } }

@media screen and (min-width: 768px), print {
  .top-new-item-list .slick-arrow {
    width: 30px;
    height: 30px;
    top: 150px; }
    .top-new-item-list .slick-arrow::before {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      margin: auto;
      width: 10px;
      height: 10px;
      background: none;
      content: ""; }
    .top-new-item-list .slick-arrow.slick-prev {
      left: -20px; }
      .top-new-item-list .slick-arrow.slick-prev::before {
        border-top: 1px solid #E4007F;
        border-left: 1px solid #E4007F;
        transform: rotate(-45deg); }
    .top-new-item-list .slick-arrow.slick-next {
      right: -20px; }
      .top-new-item-list .slick-arrow.slick-next::before {
        border-top: 1px solid #E4007F;
        border-right: 1px solid #E4007F;
        transform: rotate(45deg); } }

@media screen and (max-width: 767px) {
  .top-new-item-list.slick-dotted.slick-slider {
    margin-bottom: 24vw; }
  .top-new-item-list .slick-dots {
    bottom: -6.67vw; }
    .top-new-item-list .slick-dots li {
      margin: 0 1.87vw;
      width: 2.67vw;
      height: 2.67vw; }
      .top-new-item-list .slick-dots li button {
        width: 2.67vw;
        height: 2.67vw; }
        .top-new-item-list .slick-dots li button::before {
          width: 2.67vw;
          height: 2.67vw;
          border: none;
          background-color: #DDDDDD; }
      .top-new-item-list .slick-dots li.slick-active button::before {
        background-color: #EACB7D; } }

@media screen and (min-width: 768px), print {
  .top-new-item-list-item {
    padding: 17px 17px 0; } }

@media screen and (max-width: 767px) {
  .top-new-item-list-item {
    padding: 2.67vw 2.67vw 0; } }

.top-new-item-list-item .item-content-thumb {
  background: none;
  border: 1px solid #fff;
  padding: 3px;
  position: relative; }
  @media screen and (max-width: 767px) {
    .top-new-item-list-item .item-content-thumb {
      height: 41.6vw;
      padding: 0.8vw;
      border-radius: 0.8vw; } }
  .top-new-item-list-item .item-content-thumb::after {
    position: absolute;
    content: "";
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2238.335%22%20height%3D%2237.643%22%20viewBox%3D%220%200%2038.335%2037.643%22%3E%20%3Cdefs%3E%20%3CclipPath%20id%3D%22clip-path%22%3E%20%3Crect%20id%3D%22%E9%95%B7%E6%96%B9%E5%BD%A2_1618%22%20data-name%3D%22%E9%95%B7%E6%96%B9%E5%BD%A2%201618%22%20width%3D%2238.335%22%20height%3D%2237.643%22%20fill%3D%22none%22%2F%3E%20%3C%2FclipPath%3E%20%3C%2Fdefs%3E%20%3Cg%20id%3D%22%E3%82%B0%E3%83%AB%E3%83%BC%E3%83%97_1676%22%20data-name%3D%22%E3%82%B0%E3%83%AB%E3%83%BC%E3%83%97%201676%22%20clip-path%3D%22url(%23clip-path)%22%3E%20%3Cpath%20id%3D%22%E3%83%91%E3%82%B9_4176%22%20data-name%3D%22%E3%83%91%E3%82%B9%204176%22%20d%3D%22M50.779.114A4.084%2C4.084%2C0%2C0%2C0%2C48.172%2C2.9a8.117%2C8.117%2C0%2C0%2C0-.3%2C1.387c-.045.33-.074.654-.093.942-.014.22-.023.418-.029.581-.012.294-.018.581-.023.852-.048%2C2.328%2C1.772%2C8.6%2C2.079%2C9.28l.123.373A5.881%2C5.881%2C0%2C0%2C0%2C48.376%2C19.9q-.037.267-.06.543l-.024.406q-.008.2-.008.416c.005%2C1.795.526%2C4.341%2C1.97%2C5.684a1.915%2C1.915%2C0%2C0%2C0-.15.127.8.8%2C0%2C0%2C0-.162.171%2C1.1%2C1.1%2C0%2C0%2C1-.105.129%2C1.641%2C1.641%2C0%2C0%2C1-.241.22%2C1.8%2C1.8%2C0%2C0%2C1-.587.292%2C1.646%2C1.646%2C0%2C0%2C1-.4.062%2C1.753%2C1.753%2C0%2C0%2C1-1.4-.641.076.076%2C0%2C0%2C0-.088-.023l-.138.058-.091.052a.14.14%2C0%2C0%2C0-.044.084v0a.306.306%2C0%2C0%2C0%2C.022.148l.047.081.036-.012a.065.065%2C0%2C0%2C0%2C0%2C.022.383.383%2C0%2C0%2C0%2C.052.152%2C1.974%2C1.974%2C0%2C0%2C0%2C.256.318%2C2.153%2C2.153%2C0%2C0%2C0%2C.688.47%2C1.93%2C1.93%2C0%2C0%2C0%2C.247.088%2C2.71%2C2.71%2C0%2C0%2C0%2C1.383-.063%2C3.1%2C3.1%2C0%2C0%2C0%2C1.495-1.193%2C2.14%2C2.14%2C0%2C0%2C0%2C.708.287%2C3.343%2C3.343%2C0%2C0%2C0%2C3.466-1.113%2C2.67%2C2.67%2C0%2C0%2C0%2C.576-1.33c.009-.066.016-.132.02-.2a3.126%2C3.126%2C0%2C0%2C0-.4-1.7%2C2.083%2C2.083%2C0%2C0%2C0-1.663-1.165.969.969%2C0%2C0%2C0-.134.012c-.012%2C0-.021-.008-.033-.009a1.114%2C1.114%2C0%2C0%2C0-.251.034c-.008%2C0-.016%2C0-.024%2C0a1.144%2C1.144%2C0%2C0%2C0-.958%2C1.044%2C1.16%2C1.16%2C0%2C0%2C0%2C1.08%2C1.233%2C1.143%2C1.143%2C0%2C0%2C0%2C1.163-.822%2C2.091%2C2.091%2C0%2C0%2C1%2C.346%2C1.194c0%2C.014-.013.16-.019.2a2.494%2C2.494%2C0%2C0%2C1-.544%2C1.231%2C2.7%2C2.7%2C0%2C0%2C1-3.045.608l-.036-.018A5.478%2C5.478%2C0%2C0%2C0%2C51.9%2C25.2c.019-.111.036-.222.051-.333.026-.192.048-.388.063-.586l.021-.263.007-.2a17.043%2C17.043%2C0%2C0%2C0-.89-5.678c-.178-.572-.373-1.159-.571-1.743a2.246%2C2.246%2C0%2C0%2C1%2C3%2C.452%2C1.2%2C1.2%2C0%2C0%2C1%2C.332.9l-.014.157a1.936%2C1.936%2C0%2C0%2C1-.085.358c-.145.428-.424.595-.964.579a.219.219%2C0%2C0%2C0-.225.189.223.223%2C0%2C0%2C0%2C.2.249.987.987%2C0%2C0%2C0%2C.623.033%2C1.434%2C1.434%2C0%2C0%2C0%2C.661-.312%2C1.566%2C1.566%2C0%2C0%2C0%2C.54-1.017c.006-.044.011-.089.013-.135a2.191%2C2.191%2C0%2C0%2C0-.031-.514%2C2.32%2C2.32%2C0%2C0%2C0-1.5-1.782%2C2.911%2C2.911%2C0%2C0%2C0-2.666.219c-.039.026-.079.053-.118.081l-.127-.371c-.56-1.784-1.874-5.967-1.908-8.8%2C0-.229%2C0-.464.011-.7s.022-.46.037-.693l.009-.131c.007-.1.016-.192.029-.289a5.606%2C5.606%2C0%2C0%2C1%2C1.487-3.229%2C2.168%2C2.168%2C0%2C0%2C1%2C.867-.47%2C1.52%2C1.52%2C0%2C0%2C0%2C2.213%2C2.053h0a1.516%2C1.516%2C0%2C0%2C0%2C.536-1.059%2C1.584%2C1.584%2C0%2C0%2C0-.007-.2l.008-.061.006-.093A1.7%2C1.7%2C0%2C0%2C0%2C52.886.482%2C2.279%2C2.279%2C0%2C0%2C0%2C50.779.114m-.624%2C16.748.063.194c.108.416.238.839.369%2C1.263a16.449%2C16.449%2C0%2C0%2C1%2C.864%2C5.478l-.024.42a5.747%2C5.747%2C0%2C0%2C1-.868%2C2.318l-.062-.019h0l.056-.05a5.776%2C5.776%2C0%2C0%2C1-1.1-1.889%2C9.937%2C9.937%2C0%2C0%2C1-.566-3.7l.023-.385c.014-.166.032-.331.054-.492a6.522%2C6.522%2C0%2C0%2C1%2C1.193-3.141%22%20transform%3D%22translate(-17.51%200)%22%20fill%3D%22%23fff%22%2F%3E%20%3Cpath%20id%3D%22%E3%83%91%E3%82%B9_4177%22%20data-name%3D%22%E3%83%91%E3%82%B9%204177%22%20d%3D%22M.482%2C51.781a1.7%2C1.7%2C0%2C0%2C0%2C1.333.627l.093-.006.061-.008a1.585%2C1.585%2C0%2C0%2C0%2C.2.007%2C1.514%2C1.514%2C0%2C0%2C0%2C1.059-.536h0a1.52%2C1.52%2C0%2C0%2C0-2.053-2.213%2C2.168%2C2.168%2C0%2C0%2C1%2C.47-.867A5.606%2C5.606%2C0%2C0%2C1%2C4.872%2C47.3c.1-.013.185-.023.289-.029l.131-.008c.233-.016.465-.029.693-.038s.473-.013.7-.011c2.834.034%2C7.017%2C1.348%2C8.8%2C1.909l.371.126c-.028.039-.055.078-.081.118a2.911%2C2.911%2C0%2C0%2C0-.219%2C2.666%2C2.32%2C2.32%2C0%2C0%2C0%2C1.782%2C1.5%2C2.189%2C2.189%2C0%2C0%2C0%2C.514.031c.046%2C0%2C.091-.008.135-.014A1.566%2C1.566%2C0%2C0%2C0%2C19.009%2C53a1.434%2C1.434%2C0%2C0%2C0%2C.312-.661.988.988%2C0%2C0%2C0-.033-.623.222.222%2C0%2C0%2C0-.248-.2.218.218%2C0%2C0%2C0-.19.224c.017.54-.151.819-.579.964a1.991%2C1.991%2C0%2C0%2C1-.358.085l-.157.014a1.2%2C1.2%2C0%2C0%2C1-.9-.332%2C2.247%2C2.247%2C0%2C0%2C1-.452-3c.584.2%2C1.171.394%2C1.743.571a17.043%2C17.043%2C0%2C0%2C0%2C5.678.89l.2-.007.263-.021c.2-.015.393-.036.586-.063.111-.015.221-.032.333-.051a5.463%2C5.463%2C0%2C0%2C0%2C1.792-.577l.019.036A2.7%2C2.7%2C0%2C0%2C1%2C26.4%2C53.3a2.5%2C2.5%2C0%2C0%2C1-1.231.544c-.044.006-.19.017-.2.018a2.087%2C2.087%2C0%2C0%2C1-1.194-.346%2C1.143%2C1.143%2C0%2C0%2C0%2C.822-1.162%2C1.16%2C1.16%2C0%2C0%2C0-1.233-1.081%2C1.144%2C1.144%2C0%2C0%2C0-1.044.958c0%2C.008%2C0%2C.016%2C0%2C.024a1.113%2C1.113%2C0%2C0%2C0-.034.251c0%2C.012.008.021.009.033a.969.969%2C0%2C0%2C0-.012.134%2C2.083%2C2.083%2C0%2C0%2C0%2C1.165%2C1.663%2C3.121%2C3.121%2C0%2C0%2C0%2C1.7.4c.068%2C0%2C.134-.011.2-.02a2.659%2C2.659%2C0%2C0%2C0%2C1.33-.576%2C3.343%2C3.343%2C0%2C0%2C0%2C1.113-3.466%2C2.14%2C2.14%2C0%2C0%2C0-.287-.708%2C3.1%2C3.1%2C0%2C0%2C0%2C1.193-1.495%2C2.71%2C2.71%2C0%2C0%2C0%2C.063-1.383%2C1.965%2C1.965%2C0%2C0%2C0-.088-.247%2C2.153%2C2.153%2C0%2C0%2C0-.47-.688%2C2.009%2C2.009%2C0%2C0%2C0-.318-.256.394.394%2C0%2C0%2C0-.152-.052l-.022%2C0%2C.012-.036-.081-.047a.314.314%2C0%2C0%2C0-.148-.022h0a.145.145%2C0%2C0%2C0-.084.044l-.052.091-.058.138a.076.076%2C0%2C0%2C0%2C.023.088%2C1.754%2C1.754%2C0%2C0%2C1%2C.641%2C1.4%2C1.646%2C1.646%2C0%2C0%2C1-.062.4%2C1.8%2C1.8%2C0%2C0%2C1-.292.587%2C1.678%2C1.678%2C0%2C0%2C1-.22.242%2C1.164%2C1.164%2C0%2C0%2C1-.129.1.824.824%2C0%2C0%2C0-.171.162%2C1.915%2C1.915%2C0%2C0%2C0-.127.15c-1.343-1.444-3.89-1.965-5.684-1.97q-.211%2C0-.416.007l-.406.025c-.184.015-.364.035-.543.059a5.881%2C5.881%2C0%2C0%2C0-3.585%2C1.551l-.373-.123c-.683-.307-6.952-2.127-9.28-2.079-.271.005-.557.011-.852.023-.163.006-.361.015-.581.029-.287.019-.612.048-.941.093a8.112%2C8.112%2C0%2C0%2C0-1.388.3A4.086%2C4.086%2C0%2C0%2C0%2C.114%2C49.673a2.279%2C2.279%2C0%2C0%2C0%2C.368%2C2.108M20%2C47.855c.161-.023.326-.041.492-.054l.385-.023a9.924%2C9.924%2C0%2C0%2C1%2C3.7.565%2C5.776%2C5.776%2C0%2C0%2C1%2C1.889%2C1.1l.051-.056.019.062a5.744%2C5.744%2C0%2C0%2C1-2.318.868l-.42.024a16.449%2C16.449%2C0%2C0%2C1-5.478-.864c-.424-.132-.847-.261-1.263-.369l-.194-.063A6.522%2C6.522%2C0%2C0%2C1%2C20%2C47.855%22%20transform%3D%22translate(0%20-17.096)%22%20fill%3D%22%23fff%22%2F%3E%20%3C%2Fg%3E%3C%2Fsvg%3E");
    background-size: 100%;
    background-repeat: no-repeat; }
    @media screen and (min-width: 768px), print {
      .top-new-item-list-item .item-content-thumb::after {
        width: 38.33px;
        height: 37.64px;
        right: -10px !important;
        bottom: -10px !important; } }
    @media screen and (max-width: 767px) {
      .top-new-item-list-item .item-content-thumb::after {
        width: 5.94vw;
        height: 5.83vw;
        right: -1.6vw !important;
        bottom: -1.6vw !important; } }
.top-new-item-list-item .item-content-thumb-inner {
  background: #fff;
  height: 100%; }
  @media screen and (max-width: 767px) {
    .top-new-item-list-item .item-content-thumb-inner {
      border: none; } }
  .top-new-item-list-item .item-content-thumb-inner span {
    display: flex;
    justify-content: center;
    align-items: center; }
    @media screen and (min-width: 768px), print {
      .top-new-item-list-item .item-content-thumb-inner span {
        height: 255px; }
        .top-new-item-list-item .item-content-thumb-inner span img {
          height: 213px; } }
    @media screen and (max-width: 767px) {
      .top-new-item-list-item .item-content-thumb-inner span {
        height: 100%;
        padding: 0; }
        .top-new-item-list-item .item-content-thumb-inner span img {
          height: 34.13vw; } }
@media screen and (min-width: 768px), print {
  .top-new-item-list-item .item-label {
    width: 61px;
    height: 61px; } }

@media screen and (max-width: 767px) {
  .top-new-item-list-item .item-label {
    width: 9.87vw;
    height: 9.87vw; } }

@media screen and (max-width: 767px) {
  .top-new-item-list-item .item-content-path li {
    font-size: 2.67vw; } }

.top-new-item-list-item .item-content-name {
  margin-top: 15px; }
  @media screen and (max-width: 767px) {
    .top-new-item-list-item .item-content-name {
      font-size: 3.2vw;
      margin-top: 1.33vw; } }
@media screen and (max-width: 767px) {
  .top-new-item-list-item .item-content-price {
    font-size: 4.27vw;
    margin-top: 0.8vw; } }

@media screen and (max-width: 767px) {
  .top-new-item-list-item .item-content-price-mark {
    font-size: 3.2vw; } }

@media screen and (max-width: 767px) {
  .top-new-item-list-item .item-content-price-tax {
    font-size: 2.67vw; } }

/* セクション共通
   ========================================================================== */
@media screen and (min-width: 768px), print {
  .top-item {
    margin-top: 100px; } }

@media screen and (max-width: 767px) {
  .top-item {
    margin-top: 20vw; } }

.top-item-inner {
  margin: 0 auto 0;
  position: relative;
  width: 960px; }
  .top-item-inner .cmn-sct-ttl {
    margin-bottom: 45px; }

.top-sct-ttl {
  margin-bottom: 56px;
  text-align: center; }

.top-sct-ttl-jp.icon-instagram:before {
  color: #E4007F;
  margin-right: 8px; }

.top-item-ttl {
  text-align: center;
  color: #E4007F;
  font-family: "Josefin Sans", sans-serif;
  font-size: 24px;
  font-size: 2.4rem;
  margin-bottom: 26px; }

.top-item-online {
  text-align: center;
  position: relative;
  z-index: 1; }
  @media screen and (min-width: 768px), print {
    .top-item-online {
      margin: 40px -120px 0; } }
  @media screen and (max-width: 767px) {
    .top-item-online {
      margin-top: 8vw; } }
.cmn-sct-ttl {
  margin-bottom: 56px; }

.box-pattern02 {
  padding-top: 48px; }

@media screen and (max-width: 767px) {
  .top-item-inner {
    width: 100%; }
  .cmn-sct-ttl {
    margin-bottom: 6.67vw; }
  .box-pattern02 {
    padding-top: 0; } }

/* ITEM
   ========================================================================== */
.top-item-list {
  margin-bottom: -45px;
  position: relative;
  z-index: 10;
  justify-content: center;
  padding-right: 0;
  justify-content: center;
  display: flex;
  flex-wrap: wrap; }
  .top-item-list li {
    background-color: #fff;
    border-radius: 50%;
    border: 2px solid #e5b94b;
    text-align: center;
    height: 290px;
    margin: 0 20px 45px 20px;
    overflow: hidden;
    width: 290px;
    font-size: 18px;
    font-size: 1.8rem; }
    .top-item-list li span {
      display: block; }
    .top-item-list li:nth-child(1) {
      margin-left: 0 !important; }
    .top-item-list li:nth-child(3) {
      margin-right: 0 !important; }
  .top-item-list a {
    border-radius: 50%;
    display: block;
    text-decoration: none;
    height: 100%;
    padding-top: 35px;
    position: relative;
    width: 100%;
    font-weight: 700; }
    .top-item-list a:after {
      border-radius: 50%;
      border: 2px dotted #e5b94b;
      content: "";
      display: block;
      height: 279px;
      position: absolute;
      left: 2px;
      top: 2px;
      width: 279px; }

.top-item-illust {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%; }
  .top-item-illust li {
    position: absolute; }
    .top-item-illust li img {
      max-width: none; }

.top-item-illust01,
.top-item-illust10 {
  left: -92px;
  top: 17px;
  animation: illust01 1.2s infinite; }

.top-item-illust10 {
  top: 1017px; }

@keyframes illust01 {
  0% {
    transform: rotate(5deg); }
  49% {
    transform: rotate(5deg); }
  50% {
    transform: rotate(-5deg); }
  99% {
    transform: rotate(-5deg); }
  100% {
    transform: rotate(5deg); } }

.top-item-illust02,
.top-item-illust12 {
  left: -119px;
  top: 348px;
  animation: illust02 1.2s infinite; }

.top-item-illust12 {
  top: 1348px; }

@keyframes illust02 {
  0% {
    transform: rotate(5deg); }
  49% {
    transform: rotate(5deg); }
  50% {
    transform: rotate(-5deg); }
  99% {
    transform: rotate(-5deg); }
  100% {
    transform: rotate(5deg); } }

.top-item-illust03 {
  left: -105px;
  top: 705px;
  animation: illust03 1.2s infinite; }

@keyframes illust03 {
  0% {
    transform: rotate(-5deg); }
  49% {
    transform: rotate(-5deg); }
  50% {
    transform: rotate(5deg); }
  99% {
    transform: rotate(5deg); }
  100% {
    transform: rotate(-5deg); } }

.top-item-illust04,
.top-item-illust13 {
  left: 323px;
  top: 422px;
  animation: illust04 1.2s infinite; }

.top-item-illust13 {
  top: 1422px; }

@keyframes illust04 {
  0% {
    transform: rotate(-5deg); }
  49% {
    transform: rotate(-5deg); }
  50% {
    transform: rotate(5deg); }
  99% {
    transform: rotate(5deg); }
  100% {
    transform: rotate(-5deg); } }

.top-item-illust05,
.top-item-illust14 {
  left: 595px;
  top: 356px;
  animation: illust05 1.2s infinite; }

.top-item-illust14 {
  top: 1356px; }

@keyframes illust05 {
  0% {
    transform: rotate(5deg); }
  49% {
    transform: rotate(5deg); }
  50% {
    transform: rotate(-5deg); }
  99% {
    transform: rotate(-5deg); }
  100% {
    transform: rotate(5deg); } }

.top-item-illust06 {
  left: 560px;
  top: 693px;
  animation: illust06 1.2s infinite; }

@keyframes illust06 {
  0% {
    transform: rotate(-5deg); }
  49% {
    transform: rotate(-5deg); }
  50% {
    transform: rotate(5deg); }
  99% {
    transform: rotate(5deg); }
  100% {
    transform: rotate(-5deg); } }

.top-item-illust07,
.top-item-illust11 {
  right: -130px;
  top: 0;
  animation: illust07 1.2s infinite; }

.top-item-illust11 {
  top: 1000px; }

@keyframes illust07 {
  0% {
    transform: rotate(5deg); }
  49% {
    transform: rotate(5deg); }
  50% {
    transform: rotate(-5deg); }
  99% {
    transform: rotate(-5deg); }
  100% {
    transform: rotate(5deg); } }

.top-item-illust08,
.top-item-illust15 {
  right: -125px;
  top: 382px;
  animation: illust08 1.2s infinite; }

.top-item-illust15 {
  top: 1382px; }

@keyframes illust08 {
  0% {
    transform: rotate(-5deg); }
  49% {
    transform: rotate(-5deg); }
  50% {
    transform: rotate(5deg); }
  99% {
    transform: rotate(5deg); }
  100% {
    transform: rotate(-5deg); } }

.top-item-illust09 {
  right: -172px;
  top: 665px;
  animation: illust09 1.2s infinite; }

@keyframes illust09 {
  0% {
    transform: rotate(5deg); }
  49% {
    transform: rotate(5deg); }
  50% {
    transform: rotate(-5deg); }
  99% {
    transform: rotate(-5deg); }
  100% {
    transform: rotate(5deg); } }

@media screen and (max-width: 767px) {
  .top-item-list {
    margin-bottom: -5.6%; }
    .top-item-list li {
      font-size: 3.2vw;
      height: 28.8vw;
      width: 30%;
      margin-right: 2%;
      margin-left: 2%;
      margin-bottom: 4%; }
    .top-item-list a {
      padding-top: 3.2vw; }
      .top-item-list a:after {
        border-width: 1px;
        height: 96.5%;
        width: 96.5%;
        left: 1%;
        top: 1%; }
      .top-item-list a span {
        font-size: 2.67vw; }
    .top-item-list img {
      height: auto;
      width: 60%; }
  .top-item-illust li img {
    max-width: 100%; }
  .top-item-illust01 {
    left: 3.73vw;
    top: 5.33vw;
    width: 11.73vw; }
  .top-item-illust02 {
    left: 0.53vw;
    top: 57.33vw;
    width: 17.33vw; }
  .top-item-illust03 {
    left: -4.27vw;
    top: 219.73vw;
    width: 18.67vw; }
  .top-item-illust04 {
    left: 46.93vw;
    top: 62.13vw;
    width: 13.07vw; }
  .top-item-illust05 {
    display: none; }
  .top-item-illust06 {
    left: 42.13vw;
    top: 185.6vw;
    width: 17.33vw; }
  .top-item-illust07 {
    display: none; }
  .top-item-illust08 {
    right: -0.53vw;
    top: 8.27vw;
    width: 16.27vw; }
  .top-item-illust09 {
    right: -4.53vw;
    top: 180vw;
    width: 24.53vw; } }

/* NEWS&TOPICS
   ========================================================================== */
.top-news {
  margin-bottom: 112px;
  position: relative; }

@media screen and (min-width: 768px), print {
  .news-list.gutter60 li {
    margin: 80px 60px 0 0; } }

@media screen and (max-width: 767px) {
  .top-news {
    margin-bottom: 13.33vw; }
    .top-news .news-list li:nth-child(n + 5) {
      display: none; } }

/* INSTAGRAM
   ========================================================================== */
.top-instagram {
  margin-top: 112px;
  margin-bottom: 0; }

.top-instagram-item {
  position: absolute;
  right: 60px;
  top: 112px;
  animation: illust01 1.1s infinite; }

.top-instagram-list a::after {
  display: none; }

@media screen and (min-width: 768px), print {
  .top-instagram-list {
    position: relative; }
    .top-instagram-list li {
      position: absolute; }
      .top-instagram-list li:first-child {
        height: 409px;
        position: relative;
        width: 409px; }
      .top-instagram-list li:nth-child(2), .top-instagram-list li:nth-child(3), .top-instagram-list li:nth-child(4), .top-instagram-list li:nth-child(5) {
        height: 202px;
        width: 202px; }
      .top-instagram-list li:nth-child(6), .top-instagram-list li:nth-child(7), .top-instagram-list li:nth-child(8) {
        height: 134px;
        width: 134px; }
      .top-instagram-list li:nth-child(2) {
        left: 413px;
        top: 0; }
      .top-instagram-list li:nth-child(3) {
        left: 413px;
        bottom: 0; }
      .top-instagram-list li:nth-child(4) {
        left: 620px;
        top: 0; }
      .top-instagram-list li:nth-child(5) {
        left: 620px;
        bottom: 0; }
      .top-instagram-list li:nth-child(6) {
        right: 0;
        top: 0; }
      .top-instagram-list li:nth-child(7) {
        right: 0;
        top: 137px; }
      .top-instagram-list li:nth-child(8) {
        right: 0;
        bottom: 0; } }

@media screen and (max-width: 767px) {
  .top-instagram {
    margin-top: 11.2vw; }
    .top-instagram .cmn-sct-ttl {
      margin-bottom: 9.6vw; }
  .top-instagram-item {
    right: 6.67vw;
    top: 16vw;
    width: 12vw; }
  .top-instagram-list {
    overflow: hidden;
    position: relative;
    padding-left: 5px;
    padding-right: 5px; }
    .top-instagram-list li {
      float: left;
      position: relative;
      top: auto;
      left: auto;
      right: auto;
      bottom: auto;
      margin-bottom: 2%;
      margin-right: 2%;
      height: 40vw;
      width: 49%; }
      .top-instagram-list li:nth-child(odd) {
        margin-right: 0; }
      .top-instagram-list li:first-child {
        margin-right: 0;
        height: 81.33vw;
        width: 100%; }
      .top-instagram-list li:nth-child(n + 4) {
        display: none; } }

/* MAKEUP LESSON
   ========================================================================== */
.lesson-list li {
  background-color: #fff;
  border: 2px solid #e5b94b;
  border-radius: 6px;
  padding: 3px; }

.lesson-list a {
  border: 2px dotted #e5b94b;
  border-radius: 6px;
  display: flex;
  color: #E4007F;
  text-decoration: none;
  height: 100%;
  padding: 35px 33px;
  position: relative;
  width: 100%; }

.lesson-list-thumb {
  display: block;
  height: 180px;
  overflow: hidden;
  width: 180px; }

.lesson-list-ttlset {
  padding-left: 32px;
  width: 324px; }

.lesson-list-cat {
  line-height: 1; }
  .lesson-list-cat span {
    background-color: #E4007F;
    border-radius: 13px;
    color: #fff;
    display: inline-block;
    text-align: center;
    padding: 6px 13px 9px;
    min-width: 150px; }

@media all and (-ms-high-contrast: none) {
  *::-ms-backdrop,
  .lesson-list-cat span {
    padding: 10px 13px 5px; } }

.lesson-list-ttl {
  line-height: 1.5;
  margin-top: 10px;
  font-size: 24px;
  font-size: 2.4rem; }

@media screen and (max-width: 767px) {
  .top-lesson.box-pattern01-w {
    padding-bottom: 0; }
  .top-lesson .top-sct-ttl .top-sct-ttl-en {
    letter-spacing: -0.05em; }
  .lesson-list a {
    padding: 5.33vw 5.6vw; }
    .lesson-list a:after {
      border-width: 1px;
      height: 97%;
      left: 0.27vw;
      top: 0.27vw;
      width: 92.53vw; }
  .lesson-list li {
    padding: 0.27vw;
    margin-bottom: 5.33vw !important; }
    .lesson-list li:nth-child(n + 4) {
      display: none; }
  .lesson-list-thumb {
    display: block;
    height: 29.33vw;
    width: 29.33vw; }
  .lesson-list-ttlset {
    padding-left: 5.33vw;
    width: 52.8vw; }
  .lesson-list-cat {
    font-size: 3.2vw; }
    .lesson-list-cat span {
      border-radius: 3.2vw;
      padding: 1.07vw 2.4vw 1.87vw;
      min-width: 27.73vw; }
  .lesson-list-ttl {
    font-size: 4.27vw;
    margin-top: 2.67vw; } }

/* MAKEUP CONCIERGE
   ========================================================================== */
.bnr-shadow {
  -webkit-box-shadow: 0 13px 18px 0 rgba(214, 24, 86, 0.1);
  box-shadow: 0 13px 18px 0 rgba(214, 24, 86, 0.1); }

/* Foreign language
   ========================================================================== */
/* INSTAGRAM
   ========================================================================== */
.global .important-news-ttl {
  width: 11em;
  white-space: nowrap; }

.global .top-instagram {
  margin-top: 0; }

@media screen and (max-width: 767px) {
  .global .important-news-ttl {
    width: 100%; }
  .global .top-instagram .cmn-sct-ttl {
    margin-bottom: 8vw; }
  .global .top-instagram-item {
    top: 11.47vw;
    z-index: 5; } }

/* set-anim
   ========================================================================== */
.set-anim {
  opacity: 0;
  will-change: transform, transition; }

/* top-onlineshop
   ========================================================================== */
@media screen and (min-width: 768px), print {
  .top-onlineshop {
    margin-top: 100px; } }

@media screen and (max-width: 767px) {
  .top-onlineshop {
    margin-top: 12vw;
    padding: 0 2.67vw; } }

.top-onlineshop .cmn-sct-ttl {
  margin-bottom: 30px; }

.top-onlineshop-ttl {
  text-align: center; }
  @media screen and (min-width: 768px), print {
    .top-onlineshop-ttl {
      margin-top: 68px; }
      .top-onlineshop-ttl img {
        width: 344px; } }
  @media screen and (max-width: 767px) {
    .top-onlineshop-ttl {
      margin-top: 11.2vw; }
      .top-onlineshop-ttl img {
        width: 40vw; } }
.top-onlineshop-lead {
  text-align: center; }
  @media screen and (min-width: 768px), print {
    .top-onlineshop-lead {
      font-size: 18px;
      font-size: 1.8rem; } }
  @media screen and (max-width: 767px) {
    .top-onlineshop-lead {
      font-size: 14px;
      font-size: 1.4rem; } }
.top-onlineshop-bnr-list {
  display: flex; }
  @media screen and (min-width: 768px), print {
    .top-onlineshop-bnr-list {
      margin-top: 25px;
      justify-content: center; } }
  @media screen and (max-width: 767px) {
    .top-onlineshop-bnr-list {
      margin-top: 5.33vw;
      justify-content: space-between;
      flex-wrap: wrap; } }
  @media screen and (min-width: 768px), print {
    .top-onlineshop-bnr-list li {
      margin: 0 11px; } }
  @media screen and (max-width: 767px) {
    .top-onlineshop-bnr-list li {
      width: 48.5%; }
      .top-onlineshop-bnr-list li:nth-child(n + 3) {
        margin-top: 3.5%; } }
  .top-onlineshop-bnr-list li a {
    display: block;
    border: 1px solid #EACB7D;
    overflow: hidden; }
    @media screen and (min-width: 768px), print {
      .top-onlineshop-bnr-list li a {
        border-radius: 4px; } }
    @media screen and (max-width: 767px) {
      .top-onlineshop-bnr-list li a {
        border-radius: 1.07vw; } }
    .top-onlineshop-bnr-list li a::after {
      display: none; }


      @charset "UTF-8";.concept-main{text-align:center}.concept-main-copy{color:#e5b94b;font-family:"Josefin Sans",sans-serif;font-weight:400;margin-top:59px;font-size:60px;font-size:6rem}.concept-main-lead{color:#e4007f;font-size:24px;font-size:2.4rem;font-weight:700}.concept-main-text{line-height:2;margin-top:2em;font-size:18px;font-size:1.8rem}@media screen and (max-width:767px){.concept-main-copy{font-size:9.6vw;margin-top:8vw}.concept-main-lead{font-size:4.8vw}.concept-main-text{font-size:3.73vw}}